* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
main {
    /* background: rgb(245, 244, 244); */
    /* margin: 0px 170px 10px; */
    padding: 0px;
}
.card-profile,
.description,
.table,
.logo,
.user-info-cv {
    display: flex;
}
header .logo {
    background: #a5a5a5;
    max-width: 860px;
    height: 100px;
    /* min-width: 860px; */
}

.card-profile {
    justify-content: space-around;
    align-items: flex-start;
    background: rgb(243, 242, 242);
    max-width: 860px;
    width: 100%;
}
.user-info-cv {
    flex-direction: column;
    align-items: flex-start;
}
.user-info-cv .hello  {
   
    margin: 30px 0 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #3b4f74;
    font-size: 26px; 
    padding-left: 30px; 

}
.user-info-cv  .user-name {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #0059a6;
    font-size: 26px; 
    margin-bottom: 10px; 
    padding-left: 30px;
}
.user-info-cv .job-position {
    color: #757575;
    margin: 0;
    padding-left: 30px;
    
}
/* photo button block */
.photo img {
    margin: 30px 30px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px -1px #000;
    width: 210px;
    height: 260px;
}
.photo a {
    text-decoration: none;
    color:  #3b4f74; 
}
.photo .btn {
    margin: 0px 30px 60px;
    width: 210px;
    color: #3b4f74;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    border: none;
    display: block;
    border-radius: 5px;
    padding: 12px 35px;
    box-shadow: 0 0 10px -1px #000;
    /* box-shadow: 0 0 10px -1px #3b4f74; */
    
}

.photo .btn:hover   {
    background:  #3b4f74;
    color: white;
    transition: 0.5s;
    
}

/* .photo .btn a:hover {
    color: white;
} */

/* name dscript contact soclial */

/* .greets-name-descr {
    display: flex;
    flex-direction: column;
} */



.description {
    flex-direction: column;
    justify-content: space-between;
    /* padding: 0px 10px 10px; */
    align-content: flex-start;
    margin: 30px 0px 0px;
    padding-right: 25px;
    height: 415px;
}

.description .about-desc, .social {
    font-size: 1.2em;
    font-weight: bold;
    color: #3b4f74;
    padding-left: 5px;
    
}


.description .about-desc {
    text-align: justify;
    line-height: 1.45;
    margin: 0 0 10px;
}

.contacts table {
    border-spacing: 7px;
}
.contacts { 
    /* flex-wrap: wrap; */
    display: flex;
    justify-content: space-between;
    text-align: left;
    
}


.contacts th {
    color: #757575;
    margin-right: 5px; 
}

.contacts td {
    color: #3b4f74;
}

/* .social {
    margin-top: 30px ;
} */
.social img {
    width: 32px;
    height: 32px;
    border-radius: 5px;
}
.social .facebk_img {
    border-radius: 40px;
}

.social .facebk_img:hover {
    box-shadow: 0 0 10px -1px #000;
    transition: 0.5s;
    /* border-radius: 40px; */
}
.social  img:hover {
    box-shadow: 0 0 10px -1px #000;
    transition: 0.5s;
    /* border-radius: 5px; */
}
.contacts table tr td a {
    text-decoration: none;
    color: #3b4f74;
}
footer .ftr {
    background: #a5a5a5;
    max-width: 860px;
    height: 300px;
    /* min-width: 860px; */
}

@media (max-width: 859px) {
    .card-profile {
    flex-direction: column;
    align-items: center;
    /* height: 2000px ; */
    }
    .user-info-cv {
        /* padding-left: 50px; */
        
        margin: 0 auto;
        width: 375px;
    }
    /* .hello, */
    .card-profile .user-info-cv .hello {
        font-size: 30px;
        padding-left: 70px;
    }
    .card-profile .user-info-cv .user-name {
        font-size: 30px;
        padding-left: 70px;
        
    }
    .card-profile .user-info-cv .job-position {
        font-size: 18px;
        padding-left: 70px;
    }
    .photo img {
        width: 240px;
        height: 300px; 
        margin: 30px 65px 15px;
        
    }

    .photo .btn {
        margin: 0px 65px 10px;
        width: 240px;
       
    }
    .description {
        padding: 0 10px;
        height: 100%;
        max-height: 850px;
    }
    .card-profile .description .about-desc {
        padding: 0 15px;
    }
    .description .contacts   {
        flex-wrap: wrap;
        padding-left: 5px;
    }
    .description .social {
        padding-left: 10px;
        margin-bottom: 30px;
    }
    /* .photo {
        order: 0;
    } */
    /* .description {
        order: -1;
    } */
    /* .photo img {
        max-width: 300px;
        width: 100%;
        height: auto;
        max-height: 600px;
        flex-grow: 1;
        margin: 10px auto; 
    }
    .photo .btn {
        margin: 0px 30px 10px;
    }
    .description {
        margin: 0;
        padding: 0;
        /* align-items: center; */
    
    /* .description .job-post {
        margin-right:  auto;
        padding: 0 10px;
        padding-bottom: 5px
    }
    .description .about-desc {
        margin: 0 auto;
        padding: 0 10px;
    } */ 
}
/* .job-desc,
.social,
.job-post   {
    padding-left: 5px;
} */